

header {
    width: 100rem;
    height: 20%;
    background-color: black;
    
}


// This is where you can import other stylesheets or write your scss code

<<<<<<< HEAD

h1 {
    background-color: red;
    color: black;
}
=======
>>>>>>> origin
